<h1> Article </h1>

<dl>
  <dt><h3>Title:</h3></dt>
  <dd><%= @articles.title %></dd>
  <dt><h3>Author:</h3></dt>
  <dd><%= @articles.author %></dd>
  <dt><h3>Date Published:</h3></dt>
  <dd><%= @articles.date_published %></dd>
  <dt><h3>Content</h3></dt>
  <dd><%= @articles.content %></dd>
</dl>

